body {
  background: #A6C7E9;
  font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
  color: #FFF;
  line-height: 1.75em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

a {
  color: #333;
  font-weight: bold;
  font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
}

a:hover {
  color: #555;
  transition: all 1s ease;
  cursor: pointer;
}

:hover {
  transition: all 1s ease;
}

.browsehappy {
  margin: 0.2em 0;
  color: #FFF;
  padding: 0.2em 0;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2.0em;
  z-index: 9;
}
#logo img {
  max-width: 150px;
  text-align: center;
}
#logo a:hover img {
  opacity: .8;
}

#phrase {
  display: none;
  position: absolute;
  width: 700px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -100px;
  font-size: 2.0em;
  text-align: center;
  z-index: 9;
}

#phrase h1 {
  margin: 0;
  text-transform: uppercase;
  line-height: 1.0;
}
#rsvp {
  text-decoration: none;
  margin-top: 100px;
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 300px;
  text-align: center;
  margin-left: -150px;
  margin-bottom: 2.0em;
  text-transform: uppercase;
  font-family: "Proxima-Nova";
  font-size: 18px;
  letter-spacing: 1px;
}
#phrase #prompt {
  font-size: 24px;
  line-height: 1.5;
  color: #FFF;
  margin-top: 20px;
  text-transform: uppercase;
}

#prompt p {
  margin-bottom: 0;
}

#post a#say,
#post a#create {
  background: #FFF;
  padding: 10px 20px;
  border-radius: 2px;
  color: #A6C7E9;
}
::-webkit-input-placeholder {
  color: #92B4D3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #92B4D3;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #92B4D3;  
}
:-ms-input-placeholder {  
  color: #92B4D3;
}
#social {
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.0em;
  margin-top: 1.25em;
  font-size: 1.5em;
  z-index: 9;
}
#social a {
  color: #FFF;
}
#refresh:hover {
  cursor: pointer;
  color: #EEE;
}
#thanks,
#nope {
  background: #FFF;
  color: #A6C7E9;
  padding: 10px 20px;
  max-width: 200px;
  margin: 0 auto;
  display: none;
  border-radius: 2px;
}

#thanks {
  display: none;
}

#nope {
  display: none;
}

#createForm {
  display: none;
}

input {
  text-transform: uppercase;
}

input[type="text"] {
  background: #FFF;
  color: #A6C7E9;
  font-size: 18px;
  padding: 10px 20px;
  box-shadow: 0;
  border: 0;
  border: 1px solid #92B4D3;
}

input[type="text"]:hover,
input[type="text"]:active {
  outline: 0;
  box-shadow: 0;
  border: 0;
  border: 1px solid #92B4D3;
  border-radius: 2px;
}

/* Whatever dude */

#createFormInput {
  padding: 10px;
  font-size: 18px;
  box-shadow: none;
  border: 1px solid #92B4D3;
  border-radius: 2px;
  font-family: "Proxima-Nova";
  font-weight: 600;
  color: #92B4D3;
}

#createFormInput:focus {
  border-color: #92B4D3;
  outline: 0;
}

input[type="submit"] {
  background: #92B4D3;
  color: #FFF;
  font-size: 18px;
  padding: 10px 20px;
  border: 0;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #92B4D3;
  margin-left: -10px;
  font-weight: bold;
  font-family: "Proxima-Nova";
  letter-spacing: 1px;
}

input[type="submit"]:hover {
  background: #92B4D3;
  cursor: pointer;
}

.pug {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2.0em;
  z-index: 9;
}
.pug a {
  display: block;
}
.pug a:hover {
  opacity: .8;
}
.pug img {
  width: 40px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2.0em;
}

.controls a {
  color: #FFF;
  float: left;
  text-decoration: none;
}

.controls a:last-child {
  padding: 0;
}

#play,
#pause {
  margin-top: .25em;
  font-size: 2.0em;
}

/* Mobile Version */

@media all and (max-width: 480px) {
  body {
    padding: 1.0em;
  }
  #phrase {
    width: 100%;
    position: relative;
    margin: 0;
    top: 0;
    margin-top: 40px;
    left: 0;
    padding-top: 2.0em;
  }
  #caption {
    font-size: 1.0em;
  }
  a {
    display: block;
    margin-bottom: 10px;
  }
  #refresh {
    display: none;
  }
  #phrase #prompt {
    font-size: 18px;
  }
  #logo {
    top: 0;
    left: 0;
    margin: 2.0em 0;
    width: 100%;
    text-align: center;
    opacity: .5;
  }
  .pug img {
    width: 20px;
  }
}